@keyframes animation-gradient-title {
    0% {
        background-position: 1416px 0;
        // background-position: 0 1600px;
    }
    100% {
        background-position: 280px 0;
        // background-position: 100% 50%
    }
}

@keyframes animate-cv-ico {
    0% {
        top: 50%;
    }
    49.99% {
        top: 100%;
        margin-top: 0;
    }
    50% {
        top: -6px;
        margin-top: -($height-ico-cv * .5);
    }
    100% {
        top: 50%;
    }
}

@keyframes back-animate-loop {
    0% { transform: translate(0, 0)  rotate(0deg); }
    33% { transform: translate(100%, 80%) rotate(180deg); }
    50% { transform: translate(100%, 0%) rotate(180deg); }
    83% { transform: translate(0, 90%) rotate(360deg); }
    100% { transform: translate(0, 0) rotate(360deg); }
}

@keyframes rotate-mask {
    from {
      --rotation: 0deg;
    }
    to {
      --rotation: 360deg;
    }
  }
