$white: #FFF;
$black: #000;
$gray: #D9D9D9;
$purple: #9647FF;
$purple-100: #6D38B7;
$purple-200: #160332;
$lilac: #6D4CFF;
$aquamarine: #20EA97;
$lemon: #CCFF39;
$yellow: #FFEB38;
$violet: #340A76;
$violet-100: #422170;
$violet-200: #23094A;
$violet-400: #1A043E;
$blue: #350B76;

