@import "colors","variables","mixin","animations";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

html, body {
    padding: 0;
    min-height: 100%;
}

body {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 400 16px 'Kanit', sans-serif;
    color: $white;
    background: radial-gradient(100% 100% at 50% 0%, $purple 0%, $lilac 100%);
}

img {
    line-height: 0;
}

a {
    text-decoration: none;
    @include animation(.3s);
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    max-width: 1240px;
}

@import "./interface/header","./interface/skills","./interface/projects","./interface/back-animate";;
